body.loginbag {
    background-image: url("/assets/images/patterns/bg_2.png");
    background-repeat: repeat;
}
.symbol.required:before {
	content: "*";
	display: inline;
	color: #E6674A;
}

.ta-center{
    text-align: center;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/assets/images/loader/35.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
.overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color:black;
    opacity: 0.8;
}
.validators {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/assets/images/loader/35.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
